{
	"extends": ["@nuxtjs/eslint-config-typescript"],
	"rules": {
		"@typescript-eslint/no-unused-vars": ["off"],
		"no-tabs": ["off"],
		"indent": ["off"],
		"no-mixed-spaces-and-tabs": ["off"],
		"comma-dangle": ["off"],
		"space-before-function-paren": ["off"],
		"arrow-parens": ["off"]
	}
}
